version: '3.9'

services:
  db:
    image: postgres:16
    container_name: oven_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: webhook_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    container_name: oven_api
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - '3000:3000'
    env_file:
      - .env
    depends_on:
      - db
    command: >
      sh -c "
      npm run migration:run &&
      npm run start:prod
      "

volumes:
  postgres_data:
